.parser-header{
    padding:30px 0;
    background: #007bff;
    border-bottom: 1px solid #ededed;
}
.parser-header h1 {
font-size:24px;
    font-weight: 700;
    margin-bottom: 0;
    color: #fff;
}
.menu-wrapper{
    font-size:24px;
}
.parser-body{
    margin-top:30px;
}
.parser-input, .test-connection{
    padding: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.separator{
    margin: 10px;
}
.add-new-item{
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    font-size: 37px;
    line-height: 1;
    font-weight: 900;
    width: 54px;
    height: 54px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}
.remove-item, .item-info{
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    font-size: 55px;
    line-height: 0.15;
    font-weight: 500;
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: right;
    position: absolute;
    margin-left: calc(100% - 90px);
    padding-left: 5px;

}
.item-info{
    font-size: 20px;
    margin-left: calc(100% - 150px);
}
.item-edit{
    position: absolute;
    margin-left: calc(100% - 90px);
}
.spoiler{
    margin-top:30px;
}
.parser-item{
    padding: 15px 0 30px 0;
    margin: 15px 0 0 0;
    border-bottom:2px solid #ededed;
}
.head-item{
    font-size: 24px;
    font-weight: 900;
}
.item-inner{
    font-size: 22px;
    font-weight: 500;
}
.headers{
    padding-bottom: 15px;
    border-bottom: 4px dashed #ededed;
}
.head-item:last-child .inner {
    float: right;
    margin-right: 30px;
}
.popup-config{
    -webkit-box-shadow: 0px -2px 30px 22px rgba(50, 50, 50, 0.29);
    -moz-box-shadow:    0px -2px 30px 22px rgba(50, 50, 50, 0.29);
    box-shadow:         0px -2px 30px 22px rgba(50, 50, 50, 0.29);
    background: #fff;
    z-index:99999;
    position: absolute;
    width: 900px;
    left:calc(50% - 450px);
    height: 600px;
    top:calc(50% - 300px);
}

.popup-config .close{
  position: absolute;
    right: 30px;
    cursor: pointer;
    z-index: 99999999999999;
}
.popup-headers{
    padding:30px 0;
    border-bottom: 4px dashed #ededed;
    margin:0 30px;
    width: 100%;
}
.file-row{
    width: 100%;
    margin: 0 30px;
    padding: 30px 0;
    border-bottom: 1px solid #ededed;
}
